<section>
    <div class="row">
        <div class="title">
            <h1>Contact</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="">
                <div class="row">
                    <div class="col-12">
                        <h2>Let's talk</h2>
                        <h3>Send me a message or proposal, or just say hello!</h3>
                    </div>
                </div>
                <div class="row fields">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="text" name="name">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="row fields">
                    <div class="col-12">
                        <input type="textarea" name="message">
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Send">
                    </div>
                </div>
                <input type="hidden" name="subject" value="portfolio message">
            </form>
        </div>
    </div>
</section>