h1{
    position: absolute;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 0;
    font-family: Poppins-bold;
    font-size: 2.1em;
    color: var(--font-color-white);
}
h2{
    margin: .5em 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}
h3{
    margin: 1em 0;
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-family: Poppins-mid;
}
.fields-container{
    margin: 3.5em auto;
    padding: 0;
    width: 70%;
}
.title{
    position: relative;
    width: 10.2em;
    height: 6em;
    background-color: var(--orange);
}
.fields input{
    margin: 0 0 1em 0;
    padding: .5em;
    width: 100%;
    border: .05em solid var(--font-color-blue);
    border-radius: .5em;
    background-color: transparent;
    color: var(--font-color-black);
}
.fields textarea{
    margin: 0 0 1em 0;
    padding: .5em;
    width: 100%;
    border: .05em solid var(--font-color-blue);
    border-radius: .5em;
    background-color: transparent;
    color: var(--font-color-black);
}
.fields textarea::-webkit-scrollbar{
    width: .4em;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    border-radius: 2em;
    background-color: var(--light-blue);
}
.fields textarea:focus{
    outline: none;
    border-color: var(--orange);
}
.fields input:focus{
    outline: none;
    border-color: var(--orange);
}
.fields button{
    margin: 0 auto;
    padding: .5em 2em;
    width: fit-content;
    border: .05em solid var(--font-color-blue);
    border-radius: .5em;
    background-color: transparent;
    color: var(--font-color-blue);
    font-family: Poppins-bold;
    font-size: 1em;
}
.fields button:hover{
    background-color: var(--font-color-blue);
    color: var(--font-color-white);
    transition: .2s;
}
.fields button span svg{
    margin-right: .7em;
    width: 1.5em;
    height: auto;
}

/************************ MOBILE ************************/
@media only screen and (max-width: 575.98px) {
    h1{
        position: static;
        padding-top: 3em;
    }
    h2{
        text-align: left;
    }
    h3{
        text-align: left;
    }
    .fields-container{
        margin: 1em auto 3.5em auto;
        width: 100%;
    }
    .title{
        position: static;
        height: 8.2em;
    }
    .fields input{
        border: .1em solid var(--font-color-blue);
        border-radius: .5em;
    }
    .fields textarea{
        border: .1em solid var(--font-color-blue);
    }
    .fields button{
        border: .1em solid var(--font-color-blue);
        font-size: 1.1em;
    }
}