.about-container{
    margin: 0 auto;
    padding: 6em 0 0 0;
}
.greetings{
    margin: auto 0;
}
.greetings h1{
    font-family: Poppins-bold;
    font-size: 3.5em;
    color: var(--orange);
}
.greetings h2{
    font-family: Poppins-bold;
    font-size: 1.4em;
    color: var(--black);
}
.greetings h3{
    font-family: Poppins-mid;
    font-size: 1.1em;
    color: var(--black);
}
.greeting-btns{
    margin-top: 2em;
    padding: 0;
}
.greeting-btns span svg{
    margin: 0 1em;
    padding: 0;
    width: auto;
    height: 1.7em;
    color: var(--orange);
}
.resume{
    margin-right: 1em;
    padding: .5em 2.5em;
    border: .15em solid var(--light-blue);
    border-radius: 1.5em;
    color: var(--light-blue);
    font-family: Poppins-bold;
    text-decoration: none;
    transition: .2s;
    font-size: .9em;
}
.resume:hover{
    color: var(--white);
    background-color: var(--light-blue);
}
.resume svg{
    margin: .5em;
    padding: 0;
    width: 1em;
    height: auto;
}
.lets-talk-link{
    margin-left: 1em;
    font-family: Poppins-mid;
    font-size: .9em;
    color: var(--light-blue);
    text-decoration: none;
    transition: .2s;
}
.lets-talk-link:hover{
    color: var(--orange);
}
.container-img img{
    width: 100%;
    height: auto;
}
.toggle-container{
    margin-top: 4em;
    margin-bottom: 1em;
}
.toggle-container hr{
    display: none;
    margin-top: .5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
}
.toogle-header{
    display: flex;
    margin-bottom: 2em;
}
.toogle-header button{
    margin: 0;
    padding: .3em .7em;
    width: fit-content;
    height: auto;
    border: .15em solid var(--orange);
    color: var(--orange);
    border-radius: .7em;
    background-color: transparent;
    transition: .2s;
}
.toogle-header p{
    margin: auto 0 auto 1em;
    padding: 0;
    width: fit-content;
    height: auto;
    font-family: Poppins-bold;
    color: var(--light-blue);
}
.toogle-header button svg{
    width: 1em;
    height: auto;
}
.container-recent-proj{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 10em;
}

/************************ MOBILE ************************/
@media only screen and (max-width: 575.98px) {
    .about-container{
        text-align: center;
    }
    .greetings{
        margin: 0;
    }
    .greetings h1{
        font-size: 2.5em;
    }
    .greetings h2{
        font-family: Poppins-bold;
        font-size: 1.4em;
        color: var(--black);
    }
    .greetings h3{
        margin-top: .8em;
    }
    .greeting-btns{
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .greeting-btns a{
        margin: .5em auto;
        width: fit-content;
    }
    .greeting-btns span svg{
        display: none;
    }
    .resume{
        padding: .2em 2em;
        border: .15em solid var(--orange);
        border-radius: 3em;
        color: var(--orange);
        font-size: 1.1em;
    }
    .resume:hover{
        background-color: var(--orange);
    }
    .lets-talk-link{
        margin: 0;
        font-size: 1.1em;
    }
    .toggle-container{
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .toggle-container .col-12{
        padding: 0;
    }
    .toggle-container hr{
        display: none;
        margin-top: .5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: 0;
        width: 100%;
    }
    .toogle-header{
        justify-content: flex-start;
    }
    .toogle-header button{
        margin: 0;
        padding: .3em .7em;
        width: fit-content;
        height: auto;
        border: .15em solid var(--orange);
        color: var(--orange);
        border-radius: .7em;
        background-color: transparent;
        transition: .2s;
    }
    .toogle-header p{
        margin: auto 0 auto 1em;
        padding: 0;
        width: fit-content;
        height: auto;
        font-family: Poppins-bold;
        color: var(--light-blue);
    }
    .toogle-header button svg{
        width: 1em;
        height: auto;
    }
}

/************************ TABLET ************************/
@media only screen and (max-width: 991.98px) {
    .about-container{
        text-align: center;
    }
    .greetings{
        margin: 0;
    }
    .greetings h1{
        font-size: 2.5em;
    }
    .greetings h2{
        font-family: Poppins-bold;
        font-size: 1.4em;
        color: var(--black);
    }
    .greetings h3{
        margin-top: .8em;
    }
    .greeting-btns{
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .greeting-btns a{
        margin: .5em auto;
        width: fit-content;
    }
    .greeting-btns span svg{
        display: none;
    }
    .resume{
        padding: .2em 2em;
        border: .15em solid var(--orange);
        border-radius: 3em;
        color: var(--orange);
        font-size: 1.1em;
    }
    .resume:hover{
        background-color: var(--orange);
    }
    .lets-talk-link{
        margin: 0;
        font-size: 1.1em;
    }
    .toggle-container{
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .toggle-container .col-12{
        padding: 0;
    }
    .toggle-container hr{
        display: none;
        margin-top: .5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: 0;
        width: 100%;
    }
    .toogle-header{
        justify-content: flex-start;
    }
    .toogle-header button{
        margin: 0;
        padding: .3em .7em;
        width: fit-content;
        height: auto;
        border: .15em solid var(--orange);
        color: var(--orange);
        border-radius: .7em;
        background-color: transparent;
        transition: .2s;
    }
    .toogle-header p{
        margin: auto 0 auto 1em;
        padding: 0;
        width: fit-content;
        height: auto;
        font-family: Poppins-bold;
        color: var(--light-blue);
    }
    .toogle-header button svg{
        width: 1em;
        height: auto;
    }
}