.col-sm-4{
    padding: 0;
}
.item{
    display: flex;
    flex-direction: row;
    margin: 0 .5em;
    width: 100%;
}
.item .column-1{
    flex-grow: 1;
}
.item .column-2{
    flex-grow: 3;
}
.item svg{
    margin: 0 auto;
    padding-top: .2em;
    padding-right: 1em;
    width: auto;
    height: 2em;
    color: var(--font-color-orange);
}
.item .column-2 p{
    width: 90%;
    font-size: 1em;
}

/************************ TABLET ************************/
@media only screen and (max-width: 991.98px) {
    .col-sm-4{
        margin: 1.5em 0;
    }
    .item{
        margin: .5em 0;
    }
    .item .column-2{
        text-align: left;
    }
}

/************************ MOBILE LANDSCAPE ************************/
@media only screen and (max-width: 768.98px) {
    .col-sm-4{
        margin: 1em 0;
    }
    .item{
        margin: .5em 0;
    }
    .item .column-2{
        text-align: left;
    }
}

/************************ MOBILE ************************/
@media only screen and (max-width: 575.98px) {
    .col-sm-4{
        margin: 1em 0;
    }
    .item{
        margin: 1em 0;
    }
    .item .column-2{
        text-align: left;
    }
}