footer{
    padding: 0 8em 0 12em;
    background-color: var(--blue);
}
h4{
    margin-bottom: 1em;
    color: var(--white);
    font-size: 2em;
}
.footer-container{
    margin: 0 auto;
    padding: 4em 0 2em 0;
    width: 80%;
}
.whatsapp-container{
    margin: 1.4em 0;
    padding: 0;
    color: var(--font-color-white);
}
.whatsapp-container a{
    margin: auto 0;
    text-decoration: none;
    color: var(--font-color-white);
}
.whatsapp-container svg{
    margin-right: .8em;
    width: 1.1em;
    height: auto;
}
.github-container{
    margin: 1.4em 0;
    padding: 0;
    color: var(--font-color-white);
}
.github-container a{
    margin: auto 0;
    text-decoration: none;
    color: var(--font-color-white);
}
.github-container svg{
    margin-right: .8em;
    width: 1.1em;
    height: auto;
}
.gmail-container{
    margin: 1.4em 0;
    padding: 0;
    color: var(--font-color-white);
}
.gmail-container a{
    margin: auto 0;
    text-decoration: none;
    color: var(--font-color-white);
}
.gmail-container svg{
    margin-right: .8em;
    width: 1.1em;
    height: auto;
}
.linkedin-container{
    margin: 1.4em 0;
    padding: 0;
    color: var(--font-color-white);
}
.linkedin-container a{
    margin: auto 0;
    text-decoration: none;
    color: var(--font-color-white);
}
.linkedin-container svg{
    margin-right: .8em;
    width: 1.1em;
    height: auto;
}
.resume-container{
    margin: 1.4em 0;
}
.resume-container a{
    color: var(--font-color-white);
    height: fit-content;
    text-decoration: none;
}
.resume-container a::after{
    content: '';;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--font-color-white);
}
.bottom-footer hr{
    margin-top: 2em;
    border: none;
    height: 1.5px;
    background-color: var(--font-color-white);
    color: var(--font-color-white);
}
.bottom-footer p{
    width: 100%;
    text-align: center;
    color: var(--font-color-white);
}

/************************ MOBILE ************************/
@media only screen and (max-width: 576px) {
    footer{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .footer-container{
        margin: 0 auto;
        padding: 4em 0 2em 0;
        width: 85%;
    }
}