h1{
    color: var(--orange);
    font-size: 3.5em;
}
h2{
    margin-top: .5em;
    margin-bottom: .3em;
    color: var(--orange);
    font-size: 3em;
}
h3{
    margin-top: .7em;
    color: var(--light-blue);
    font-size: 2em;
}
.container{
    margin: 0;
    padding: 5em 0 0 0;
}
.sub-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.front-img-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.5em 0 2em 0;
    padding: 0;
    width: 100%;
}
.front-img-container img{
    width: 60vw;
    border-radius: 1em;
}
.info-container{
    width: 95%;
    align-self: flex-end;
}
.info-item{
    margin: .7em 0;
}
.tech-gallery-container{
    width: 95%;
    align-self: flex-end;
}
.technologies-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em 0;
    width: 100%;
    overflow-x: scroll;
}
.gallery-item{
    display: flex;
    justify-content: center;
    margin: 0 1em;
    padding: 0;
    width: 351px;
    height: 196px;
    background-color: var(--grey);
    border-radius: 1em;
    cursor: pointer;
}
.gallery-item img{
    width: auto;
    height: 100%;
}
.modal-content{
    display: flex;
    position: relative;
    /*width: fit-content;*/
    height: 90vh;
    background-color: var(--white);
    overflow: hidden;
}
.modal-content img{
    width: fit-content;
    height: 100%;
    align-self: center;
}
.modal-dialog{
    max-width: fit-content;
}
.gallery-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}
.gallery-info-title{
    margin: 0;
    padding: 1em;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(255,255,255,0) 100%);
}
.gallery-info-title h5{
    padding-bottom: 1em;
    color: var(--white);
    font-size: 2em;
}
.modal-body{
    display: flex;
    margin: 0;
    padding: 1em;
    width: 100%;
    align-self: flex-end;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(255,255,255,0) 100%);
}
.modal-body p{
    padding-top: 1em;
    color: var(--white);
    font-size: 1.5em;
    align-self: flex-end;
}

/************************ TABLET ************************/
@media only screen and (max-width: 991.98px) {
    
}

/************************ MOBILE LANDSCAPE ************************/
@media only screen and (max-width: 768.98px) {
    
}

/************************ MOBILE ************************/
@media only screen and (max-width: 575.98px) {
    
}