.recent-proj{
    margin: 0 auto;
}
.container-recent-proj{
    margin: 0;
    padding: 0;
    border-radius: .5em;
    overflow: hidden;
}
.container-recent-proj img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.container-recent-proj:hover{
    transition: .3s;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

/************************ TABLET ************************/
@media only screen and (max-width: 991.98px) {
    .container-recent-proj{
        margin: .5em auto;
        border-radius: 1.2em;
    }
    .container-recent-proj img{
        margin: 0;
    }
}

/************************ MOBILE LANDSCAPE ************************/
@media only screen and (max-width: 768.98px) {
    .container-recent-proj{
        margin: .5em auto;
        border-radius: 1.2em;
    }
    .container-recent-proj img{
        margin: 0;
    }
}

/************************ MOBILE ************************/
@media only screen and (max-width: 575.98px) {
    .container-recent-proj{
        margin: .5em auto;
        border-radius: 1.2em;
    }
    .container-recent-proj img{
        margin: 0;
    }
}