<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4"><a routerLink="/work" class="recent-proj"><img src="../../../assets/img/placeholder_img.svg" alt="placeholder"></a></div>
    <div class="col-sm-12 col-md-12 col-lg-4"><a routerLink="/work" class="recent-proj"><img src="../../../assets/img/placeholder_img.svg" alt="placeholder"></a></div>
    <div class="col-sm-12 col-md-12 col-lg-4"><a routerLink="/work" class="recent-proj"><img src="../../../assets/img/placeholder_img.svg" alt="placeholder"></a></div>
</div>