/* You can add global styles to this file, and also import other style files */
:root{
    --orange:#FFB800;
    --light-blue:#11BADE;
    --blue:#3755C8;
    --purple:#871BC9;
    --white:#FAFAFA;
    --grey:#EBEBEB;
    --black:#282828;
    --background:#FAFAFA;
    --background-navbar:#11BADE;
    --font-color-white:#FAFAFA;
    --font-color-orange:#FFB800;
    --font-color-blue:#11BADE;
}
@font-face {
    font-family: Poppins-bold;
    src: url(./assets/fonts/poppins/Poppins-Bold.woff) format('woff');
}
@font-face {
    font-family: Poppins-mid;
    src:url(./assets/fonts/poppins/Poppins-Medium.woff) format('woff');
}
@font-face {
    font-family: Worksans;
    src:url(./assets/fonts/work_sans/WorkSans-Regular.woff) format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--background);
}
body{
    background-color: var(--background);
    font-family: Worksans;
}
body::-webkit-scrollbar{
    width: .4em;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    border-radius: 2em;
    background-color: var(--light-blue);
}
h1{
    font-family: Poppins-bold;
}
h2{
    font-family: Poppins-bold;
}
h3{
    font-family: Poppins-bold;
}
h4{
    font-family: Poppins-bold;
}
p{
    font-family: Worksans;
}